@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import 'variables';
@import "normalize";
@import '~bootstrap/scss/bootstrap';
@import "fonts";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}


ul {
  list-style-type: none;
}

.swiper-wrapper {
  padding-top: 100px;
}

.css-dsuxgy-MuiTableCell-root {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
