@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('../../shared/assets/fonts/Gilroy-Semibold.woff') format('woff'),
  url('../../shared/assets/fonts/Gilroy-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
