.footer {
  background: rgb(35, 35, 64);
  width: 100%;
  padding: 66px 0 60px 0;

  .footer__wrap {
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.2fr;
    grid-column-gap: 120px;

    .footer__logo {
      .footer__logo__subtitle {
        color: var(--white-color);
        font-size: 14px;
        text-align: left;
        margin: 10px 0 0 0;
      }
    }

    .footer__input {
      p {
        color: var(--blue-color);
        font-size: 30px;
        text-align: left;
        margin-bottom: 20px;
      }
    }

    .footer__companyContacts {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 35px;

      h3 {
        color: var(--blue-color);
        font-size: 24px;
        text-align: left;
        margin: 0;
      }

      .footer__company {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        nav {
          ul {
            display: flex;
            align-items: center;
            column-gap: 30px;
            padding: 0;
            margin: 0;

            li {
              a {
                color: var(--white-color);
                font-size: 14px;
                text-decoration: none;
              }
            }
          }
        }
      }

      .footer__contacts {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        p {
          /* Caption/Desktop */
          color: var(--white-color);
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    padding: 40px 0;

    .footer__wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 62px;
      grid-row-gap: 40px;

      .footer__logo {
        .footer__logo__subtitle {
          font-size: 12px;
          width: 70%;
          margin-top: 10px;
        }
      }

      .footer__input {
        p {
          color: var(--blue-color);
          font-size: 20px;
          margin-bottom: 20px;
        }
      }

      h3 {
        color: var(--blue-color);
        font-size: 24px;
        text-align: left;
        margin: 0;
      }

      .footer__company {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        nav {
          ul {
            display: flex;
            align-items: center;
            column-gap: 40px;
            padding: 0;
            margin: 0;

            li {
              a {
                color: var(--white-color);
                font-size: 14px;
                text-decoration: none;
              }
            }
          }
        }
      }

      .footer__contacts {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        p {
          color: var(--white-color);
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .footer {
    .footer__wrap {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 40px;

      .footer__logo {
        display: flex;
        align-items: center;
        column-gap: 24px;

        .footer__logo__subtitle {
          font-size: 12px;
          width: 40%;
          margin-top: 0;
        }
      }

      .footer__input {
        p {
          color: var(--blue-color);
          font-size: 20px;
          margin-bottom: 20px;
        }
      }

      h3 {
        color: var(--blue-color);
        font-size: 24px;
        text-align: left;
        margin: 0;
      }

      .footer__company {
        display: flex;
        flex-direction: column;
        order: 3;
        row-gap: 20px;

        nav {
          ul {
            display: flex;
            align-items: center;
            column-gap: 60px;
            padding: 0;
            margin: 0;

            li {
              a {
                color: var(--white-color);
                font-size: 14px;
                text-decoration: none;
              }
            }
          }
        }
      }

      .footer__contacts {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        order: 4;

        p {
          color: var(--white-color);
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 30px 0;

    .footer__wrap {
      grid-row-gap: 30px;

      .footer__logo {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: flex-start;
        column-gap: 0;
      }

      h3 {
        font-size: 20px;
      }

      .footer__company {
        display: flex;
        flex-direction: column;
        order: 3;
        row-gap: 20px;

        nav {
          ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            grid-column-gap: 125px;

            li {
              a {
                color: var(--white-color);
                font-size: 14px;
                text-decoration: none;
              }
            }
          }
        }
      }

      .footer__contacts {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        order: 4;

        p {
          color: var(--white-color);
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }
}
