.myButton {
  border: 0;
  outline: none;
  background: none;
  padding: 10px 44px;
  border-radius: 4px;
  background: var(--blue-color);
  color: var(--white-color);
  font-size: 18px;
  text-align: center;
}

.main__header__btn {
  display: block;
  padding: 10px 44px 10px 44px;
  border-radius: 4px;
  background: var(--blue-color);
  color: var(--white-color);
  font-size: 18px;
}

.main__header__burger {
  display: none;
}

.main__content__btn {
  display: none;
}

.costPerMonth__btn {
  padding: 10px 44px 10px 44px;
  border-radius: 4px;
  background: var(--blue-color);
  color: var(--white-color);
  font-size: 18px;
}

.question__btn {
  padding: 10px 44px;
  border-radius: 4px;
  background: var(--blue-color);
  color: var(--white-color);
  font-size: 18px;
  text-align: center;
}

.researches-btn {
  margin-top: 60px;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
  .main__header__btn {
    display: none;
  }

  .main__header__burger {
    display: block;
  }

  .main__content__btn {
    position: absolute;
    right: 0;
    bottom: 20%;
    display: block;
    padding: 10px 44px 10px 44px;
    border-radius: 4px;
    background: var(--blue-color);
    color: var(--white-color);
    font-size: 18px;
  }

  .footer__btn {
    width: 100%;
  }

  .researches-btn {
    margin-top: 60px;
    width: 100%;
  }

}

@media screen and (max-width: 576px) {
  .main__content__btn {
    position: absolute;
    bottom: 10%;
    width: 100%;
  }
}

