.myInput {
  outline: none;
  border: none;
  background: none;
}

.footer__input {
  border-radius: 4px;
  background: var(--dark-input-color);
  padding: 10px;
  width: 80%;
  color: rgb(245, 245, 245);
  font-size: 14px;
  text-align: left;
  margin-bottom: 30px;

  &::placeholder {
    color: rgb(245, 245, 245);
  }
}

@media screen and (max-width: 992px) {
  .footer__input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer__input {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .footer__input {
    margin-bottom: 20px;
  }
}
