
.MainPage {
  background-image: url('../../shared/assets/img/main-bgc.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

  .main__header__wrap {
    display: flex;
    align-items: center;
  }

  .main__header__logo {
    font-size: 52px;
    font-weight: 600;
    color: var(--white-color);
    margin: 0;
  }

  .main__header__point {
    color: var(--blue-color);
  }

  .main__header__nav {


    .main__header__list {
      display: flex;
      column-gap: 56px;
      margin: 0 112px 0 0;
      padding: 0;
    }

    a {
      color: var(--white-color);
      font-size: 16px;
      font-weight: 500;
      text-decoration-line: underline;
    }
  }

  main {
    padding: 135px 0 0 0;

    .main__title {
      color: var(--white-color);
      font-size: 50px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 16px;
      width: 50%;
    }

    .main__subtitle {
      color: var(--white-color);
      font-size: 18px;
      text-align: left;
      margin: 0;
      width: 40%;
    }
  }
}

.discover__block {
  padding: 100px 0;
  background: #F5F5F5;

  .discover__wrap {
    display: grid;
    grid-template-columns: 1fr 1.5fr;


    .discover__bgc {
      width: 100%;
    }

    .discover__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .discover__title {
      color: var(--dark-color);
      font-size: 50px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 24px;
    }

    .discover__subtitle {
      color: var(--dark-color);
      font-size: 18px;
      text-align: left;
      margin-bottom: 48px;

      span {
        font-weight: 700;
      }
    }

    .discover__link__btn {
      display: flex;
      align-items: center;
      column-gap: 8px;

      .discover__link {
        color: var(--blue-color);
        font-size: 16px;
        font-weight: 500;
        text-decoration-line: underline;
      }

      .discover__link__icon {
        border: 1px dashed #DEDEDE;
      }
    }
  }
}


.team {
  padding: 100px 0;
  background: #F5F5F5;

  img {
    width: 100%;
    height: 100%;
  }

  .team__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .team__wrap__block {
      padding: 86px;

      .team__title {
        color: var(--dark-color);
        font-size: 50px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 24px;
      }

      .team__subtitle {
        color: var(--dark-color);
        font-size: 18px;
        text-align: left;
        margin-bottom: 48px;
      }

      .team__link__btn {
        display: flex;
        align-items: center;
        column-gap: 8px;

        .team__link {
          color: var(--blue-color);
          font-weight: 500;
        }

        .team__link__icon {
          border: 1px dashed #DEDEDE;
        }
      }
    }
  }
}


.partners {
  background: #F5F5F5;

  p {
    color: var(--dark-color);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
  }

  .partners__icons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 35px;
    align-items: center;

    svg {
      width: 100%;
    }
  }
}


.dataCollection {
  background: #F5F5F5;
  padding: 100px 0;

  .dataCollection__title {
    color: var(--dark-color);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
  }

  .dataCollection__cardWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .dataCollection__card {
      padding: 20px 22px;
      background: rgb(255, 255, 255);
      display: grid;
      grid-template-columns: 0.2fr 0.8fr;

      .cardInfo__title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        text-transform: capitalize;
        margin-bottom: 10px;
      }

      .cardInfo__descr {
        color: rgb(0, 0, 0);
        font-size: 17px;
        text-align: left;
        opacity: 0.5;
      }
    }
  }
}


.costPerMonth {
  background: #F5F5F5;
  .costPerMonth__title {
    color: var(--dark-color);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
  }

  .costPerMonth__prices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;


    .costPerMonth__card {
      transition: all 0.3s linear;
      position: relative;
      padding: 38px;
      border: 1px solid rgb(179, 179, 179);

      .costPerMonth__cardWrap {
        transition: all 0.3s linear;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translate(50%, -50%);
        border: 1px solid rgb(179, 179, 179);
        background: rgb(255, 255, 255);
        padding: 8px 41px;

        .costPerMonth__cardWrap__title {
          color: var(--soft-blue);
          font-size: 14px;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
        }

        .costPerMonth__cardWrap__priceWrap {
          position: relative;
          height: 70px;

          .costPerMonth__cardWrap__dollar {
            position: absolute;
            top: 0;
            color: var(--soft-blue);
          }

          .costPerMonth__cardWrap__price {
            color: var(--soft-blue);
            font-size: 58px;
            font-weight: 700;
          }
        }
      }

      .costPerMonth__cardFile {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;

        p {
          margin: 0;
          color: rgb(109, 125, 139);
        }
      }

      .costPerMonth__cardInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 60px;
        row-gap: 40px;
      }
    }

    .costPerMonth__card:hover {
      border: 1px solid var(--dark-color);

      .costPerMonth__cardWrap {
        background: var(--dark-color);

        .costPerMonth__cardWrap__title {
          color: rgb(255, 255, 255);
        }

        .costPerMonth__cardWrap__priceWrap {
          .costPerMonth__cardWrap__dollar {
            color: rgb(255, 255, 255);
          }

          .costPerMonth__cardWrap__price {
            color: rgb(255, 255, 255);
          }
        }
      }
      .costPerMonth__cardFile {
        p {
          color: var(--dark-color);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .MainPage {
    background-image: url('../../shared/assets/img/main-bgc-lg.png');

    .main__header__logo {
      font-size: 40px;
    }

    .main__header__nav {
      .main__header__list,
      {
        column-gap: 30px;
        margin-right: 37px;
      }
    }

    main {
      padding: 200px 0 0 0;

      .main__title {
        margin-bottom: 20px;
        width: 80%;
      }

      .main__subtitle {
        margin-bottom: 20px;
        width: 397px;
      }
    }
  }


  .discover__block {
    padding: 80px 0;

    .discover__wrap {
      display: flex;
      flex-direction: column;

      .discover__bgc {
        width: 100%;
      }

      .discover__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
      }

      .discover__title {
        font-size: 40px;
        margin-bottom: 30px;
      }

      .discover__subtitle {
        margin-bottom: 30px;
      }

      .discover__link__btn {
        display: flex;
        align-items: center;
      }

    }
  }


  .team {
    padding: 80px 0;

    .team__wrap {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      img {
        width: 100%;
        order: 2;
      }

      .team__wrap__block {
        padding: 0;
        margin-bottom: 40px;

        .team__title {
          font-size: 40px;
          margin-bottom: 30px;
        }

        .team__subtitle {
          margin-bottom: 30px;
        }

        .team__link__btn {
          display: flex;
          align-items: center;
          column-gap: 8px;

          .team__link {
            color: var(--blue-color);
            font-weight: 500;
          }

          .team__link__icon {
            border: 1px dashed #DEDEDE;
          }
        }
      }
    }
  }


  .partners {
    p {
      font-size: 40px;
      text-align: left;
      margin-bottom: 40px;
    }

    .partners__icons {
      display: grid;
      grid-template-columns: auto;
      grid-column-gap: 0;

      .partners__mediaWidthFirst {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin-bottom: 30px;
        grid-column-gap: 38px;

      }

      .partners__mediaWidthSecond {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-self: center;
        grid-column-gap: 38px;

      }
    }
  }


  .dataCollection {
    padding: 80px 0;

    .dataCollection__title {
      font-size: 40px;
      text-align: left;
      margin-bottom: 40px;
    }

    .dataCollection__cardWrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .dataCollection__card {
        padding: 10px;

        .cardInfo__title {
          font-size: 20px;
          margin-bottom: 10px;
        }

        .cardInfo__descr {
          font-size: 14px;
        }
      }
    }
  }


  .costPerMonth {
    padding: 0 0 100px 0;
    .costPerMonth__title {
      font-size: 40px;
      text-align: left;
      margin-bottom: 40px;
    }

    .swiper__costPerMonth {

      .arrowWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        margin-top: 40px;
      }
      .costPerMonth__card {
        transition: all 0.3s linear;
        position: relative;
        padding: 38px;
        border: 1px solid rgb(179, 179, 179);

        .costPerMonth__cardWrap {
          transition: all 0.3s linear;
          position: absolute;
          top: 0;
          right: 50%;
          transform: translate(50%, -50%);
          border: 1px solid rgb(179, 179, 179);
          background: rgb(255, 255, 255);
          padding: 8px 41px;

          .costPerMonth__cardWrap__title {
            color: var(--soft-blue);
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
          }

          .costPerMonth__cardWrap__priceWrap {
            position: relative;
            height: 70px;

            .costPerMonth__cardWrap__dollar {
              position: absolute;
              top: 0;
              color: var(--soft-blue);
            }

            .costPerMonth__cardWrap__price {
              color: var(--soft-blue);
              font-size: 58px;
              font-weight: 700;
            }
          }
        }

        .costPerMonth__cardFile {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 10px;

          p {
            margin: 0;
            color: rgb(109, 125, 139);
          }
        }

        .costPerMonth__cardInfo {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-top: 60px;
          row-gap: 40px;
        }
      }

      .costPerMonth__card:hover {
        border: 1px solid var(--dark-color);

        .costPerMonth__cardWrap {
          background: var(--dark-color);

          .costPerMonth__cardWrap__title {
            color: rgb(255, 255, 255);
          }

          .costPerMonth__cardWrap__priceWrap {
            .costPerMonth__cardWrap__dollar {
              color: rgb(255, 255, 255);
            }

            .costPerMonth__cardWrap__price {
              color: rgb(255, 255, 255);
            }
          }
        }
        .costPerMonth__cardFile {
          p {
            color: var(--dark-color);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .MainPage {
    background-image: url('../../shared/assets/img/main-bgc-xl.png');

    .main__header__logo {
      font-size: 30px;
    }

    .main__header__nav {
      position: fixed;
      bottom: 0;
      left: -20px;
      display: flex;
      flex-direction: column;
      width: 35%;
      height: 100%;
      background: gray;
      box-shadow: 0 0 4px 4px black;
      transition: transform 0.3s linear;
      z-index: 999;

      .main__header__list {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 60px;

        .main__header__item {
          margin: 10px 0;
          color: var(--white-color);
        }
      }
    }

    .main__header__nav__active {
      transform: translateX(-100%);
    }

    main {
      padding: 250px 0 0 0;
      position: relative;

      .main__title {
        margin-bottom: 20px;
        font-size: 30px;
        width: 100%;
      }

      .main__subtitle {
        font-size: 14px;
        width: 50%;
      }
    }
  }


  .discover__block {
    padding: 60px 0;

    .discover__wrap {

      .discover__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
      }

      .discover__bgc {
        width: 100%;
      }

      .discover__title {
        font-size: 40px;
        margin-bottom: 30px;
      }

      .discover__subtitle {
        margin-bottom: 30px;
      }

      .discover__link__btn {
        display: flex;
        align-items: center;
      }

    }
  }


  .team {
    padding: 60px 0;

    .team__wrap {
      img {
        width: 100%;
        max-width: 100%;
      }

      .team__wrap__block {
        .team__title {
          font-size: 30px;
        }
      }
    }
  }


  .partners {
    p {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .partners__icons {

      .partners__mediaWidthFirst {
        margin-bottom: 20px;
        grid-column-gap: 33px;

      }

      .partners__mediaWidthSecond {
        grid-column-gap: 33px;
      }
    }
  }


  .dataCollection {

    padding: 60px 0;

    .dataCollection__title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .dataCollection__cardWrap {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      .dataCollection__card {
        padding: 10px;
        width: 90%;
        justify-self: flex-end;

        .cardInfo__title {
          font-size: 24px;
          margin-bottom: 10px;
        }

        .cardInfo__descr {
          font-size: 17px;
        }
      }
    }
  }



  .costPerMonth {
    .costPerMonth__title {
      font-size: 30px;
      text-align: left;
      margin-bottom: 140px;
    }

    .costPerMonth__prices {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 100px;


      .costPerMonth__card {
        width: 80%;
        justify-self: flex-end;
        .costPerMonth__cardWrap {
          .costPerMonth__cardWrap__title {
            font-size: 14px;
          }

          .costPerMonth__cardWrap__priceWrap {
            height: 70px;

            .costPerMonth__cardWrap__price {
              font-size: 58px;
            }
          }
        }

        .costPerMonth__cardInfo {
          margin-top: 60px;
          row-gap: 40px;
        }
      }
    }
  }

}


@media screen and (max-width: 576px) {
  .MainPage {
    background-image: url('../../shared/assets/img/main-bgc-sm.png');

    .main__header__nav {
      width: 80%;
      height: 100%;
    }

    .main__header__nav__active {
      transform: translateX(-100%);
    }

    main {
      padding: 200px 0 0 0;

      .main__title {
        margin-bottom: 20px;
        font-size: 30px;

      }

      .main__subtitle {
        font-size: 14px;
        width: 100%;
      }
    }
  }

  .team {
    padding: 50px 0;

    .team__wrap {
      img {
        width: 100%;
        max-width: 100%;
      }

      .team__wrap__block {
        .team__title {
          font-size: 25px;
        }

        .team__subtitle {
          font-size: 14px;
        }
      }
    }
  }

  .partners {
    p {
      font-size: 25px;
    }

    .partners__icons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .partners__mediaWidthFirst {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 0;
        grid-column-gap: 0;
        grid-row-gap: 20px;
        justify-self: flex-start;
      }

      .partners__mediaWidthSecond {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 16px;
        justify-self: flex-end;

      }
    }
  }


  .dataCollection {
    .dataCollection__title {
      font-size: 25px;
    }

    .dataCollection__cardWrap {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      .dataCollection__card {
        width: 100%;
        justify-self: auto;

        .cardInfo__title {
          font-size: 18px;
        }

        .cardInfo__descr {
          font-size: 12px;
        }
      }
    }
  }


  .costPerMonth {
    .costPerMonth__title {
      font-size: 25px;
      margin-bottom: 140px;
    }

    .costPerMonth__prices {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 100px;


      .costPerMonth__card {
        width: 100%;
        justify-self: center;
        .costPerMonth__cardWrap {
          .costPerMonth__cardWrap__title {
            font-size: 14px;
          }

          .costPerMonth__cardWrap__priceWrap {
            height: 70px;

            .costPerMonth__cardWrap__dollar {

            }

            .costPerMonth__cardWrap__price {
              position: absolute;
              right: 0;
              font-size: 40px;
            }
          }
        }

        .costPerMonth__cardInfo {
          margin-top: 60px;
          row-gap: 30px;
        }
      }
    }
  }

}

